NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_NAME=CashFlowConnect
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_TURNSTILE_SITE_KEY=

# Adsterra
NEXT_PUBLIC_ADSTERRA_POPUNDER_URL=https://pl29758018.effectivecpmnetwork.com/12/fe/42/12fe422254bb587cc0f9c163b01215d9.js
NEXT_PUBLIC_ADSTERRA_SMARTLINK_URL=https://www.effectivecpmnetwork.com/kfjctts2?key=661f3328dcc999b94f564ad307e334cf
NEXT_PUBLIC_ADSTERRA_SOCIAL_BAR_URL=https://pl29758020.effectivecpmnetwork.com/92/73/b5/9273b50208495e97ef856949d696a48e.js

# Monetag
NEXT_PUBLIC_MONETAG_POPUNDER_URL=your_monetag_popunder_script_url
NEXT_PUBLIC_MONETAG_INPAGE_URL=your_monetag_inpage_script_url

# CPAlead
NEXT_PUBLIC_CPALEAD_OFFERWALL_URL=https://www.cdnflair.com/wall/dJ6T
NEXT_PUBLIC_CPALEAD_NATIVE_OFFERS_URL=https://www.cdnflair.com/wall/dJ6T
NEXT_PUBLIC_CPALEAD_LINK_LOCKER_URL=https://www.lnksforyou.com/unlock/Tp5L
NEXT_PUBLIC_CPALEAD_FILE_LOCKER_URL=https://www.appstorevault.mobi/unlock/dPTjfi7w

# Timewall
NEXT_PUBLIC_TIMEWALL_OFFERWALLS_URL=https://timewall.io/o/440de2b21c4ecb1c
NEXT_PUBLIC_TIMEWALL_CHALLENGES_URL=https://timewall.io/o/cb5b9d30d23ed820
NEXT_PUBLIC_TIMEWALL_REFERRALS_URL=https://timewall.io/o/e4eb8297dcfcb0e7
